body{
    font-family: 'Barlow Condensed', sans-serif;
    min-height: 100vh;
    padding: 20px;
    background: #00b4db; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00b4db, #0083b0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00b4db, #0083b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    gap: 24px;
    background-color: white;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50px;
    margin-top: 2%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    margin-top: auto;
    color: #FFFFFF;
    margin-bottom: 40px;
}

img {
    width: 24px;
    height: 24px;
    margin-left: 5px;
}

#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
#purple {
    background-color: purple;
}
#white {
    background-color: white;
}
#black {
    background-color: black;
}
#green {
    background-color: green;
}
#yellow {
    background-color: yellow;
}
#orange {
    background-color: orange;
}

.colorBtn {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
    width: 50px;
}

.buttons {
    gap: 16px;
}

.colors{
    gap: 4px;
    width: 200px;
}

.sketch {
    --rows: 16;
    --columns: 16;
    display: grid;
    height: 500px;
    width: 500px;
    /* 1fr to fit the whole container div, depending on row/column number*/
    grid-template-columns: repeat(var(--rows), 1fr);
    grid-template-rows: repeat(var(--columns), 1fr);
    background-color: black;
    padding: 1px;
}

.cell {
    background-color: white;
    height: auto;
    width: auto;
}

#h4 {
    margin-bottom: 5px;
}

.wrapper{
    gap: 48px;
}