body{
    font-family: 'Barlow Condensed', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

footer{
    margin-top: auto;
    margin-bottom: 20px;
}

img {
    width: 24px;
    height: 24px;
    margin-left: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(16, auto);
    background-color: black;
    grid-gap: 1px;
    padding: 1px;
}

.cell {
    width: 24px;
    height: 24px;
    background-color: white;

}

.wrapper{
    display: flex;
    gap: 48px;
    align-items: center;
}